@{
	ViewData["Title"] = "Example Controller index Sayfası";
	Layout = "ExampleLayout";
}
<div>Bu Sayfa Example Controller>Index Sayfası</div>
@section Header
{
	<p>Bu kodlar header'ın hemen altında yazacak</p>
}
@section footer
{
	<p>Bu kodlar footerin hemen altında bulunacak </p>
}